:root {
    --white: hsl(0, 0%, 100%),
    --light-gray: hsl(212, 45%, 89%),
    --grayish-blue: hsl(220, 15%, 55%),
    --dark-blue: hsl(218, 44%, 22%)
}

.body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Lato", sans-serif;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 5%;
    padding: 1em;
}

/*  IMAGE  */

.qr-image {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin: auto;
    padding: auto;
}

/* HEADER TEXT */
header {
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: 1em;
    font-weight: 700;
    font-size: 20px;
}
/* SUB TEXT */

.sub-text {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 15px;
    padding: 0 1.5em 0 1.5em;
}

@media only screen and (min-width:992px) {
    .card {
        background-color: hsl(0, 0%, 100%);
        margin: 5em auto 5em auto;
        width: 20em;
        height: 30em;
        
        
    }

    .qr-image {
        margin-top: 0;
    }

    .header {
        padding: .5em;
        margin-top: 0 .5em 0 .5em;

    }

    .sub-text {
        padding: .7em;
        margin: 0 .5em 0 .5em;
    }
}